---
import Layout from '../layouts/Layout.astro';

import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

import { SignupForm } from '@/components/signup-form';

---

<Layout title="Welcome to Astro.">
	<main>
		<div class="w-full h-screen flex items-center justify-center px-4 theme-zinc">
			<Card className="mx-auto max-w-sm">
        <CardHeader>
          <CardTitle className="text-xl">Sign Up</CardTitle>
          <CardDescription>
            Enter your information to create an account
          </CardDescription>
        </CardHeader>
        <CardContent>
          <SignupForm client:load /> 
        </CardContent>
      </Card>
		</div>
	</main>
</Layout>
---